@import '~@patternfly/patternfly/sass-utilities/_all';

.dbaas-home-page__header {
  background-image: url('./CND-Tech-Blog-thumbnail.png');
  background-repeat: no-repeat;
  background-position: right;
}

@media screen and (max-width: $pf-global--breakpoint--md) {
  .dbaas-home-page__header {
    background-image: none;
  }
}

.dbaas-home-page__subtitle {
  color: var(--pf-global--Color--200)
}
.dbaas-home-page__video-card {
  min-height: 250px; // will depend on the actuall video frame
}
